*.o
code/bin/coff2noff
code/filesys/nachos
code/network/nachos
code/threads/nachos
code/userprog/nachos
code/vm/nachos
*~
code/test/halt
code/test/sort
code/test/shell
code/test/circle
code/test/*.coff
code/test/tree
